<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="m-3 p-3 text-center">Bienvenido a nuestro e-commerce!</h1>
            <p class="mt-3">Para acceder a los productos, loguéate:</p>
            <a href="/login" class="btn btn-dark">Login</a>
            <p class="mt-3">Si es la primera vez que visitas la web, regístrate:</p>
            <a href="/register" class="btn btn-dark">Register</a>
        </div>
        
    </div>
    
</div>

