<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="m-3 p-3 text-center">Bienvenido a nuestro e-commerce!</h1>
            <p class="mt-3">Para comprar los productos, entra a tu cuenta:</p>
            <a href="/login" class="btn btn-dark">Login</a>
            <p class="mt-3">Si aún no tienes cuenta, regístrate:</p>
            <a href="/register" class="btn btn-dark mb-4">Register</a>
        </div>
    </div> 
    
</div>

