<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1 class="m-3 p-3 text-center">Loguéate en tu cuenta</h1>
            <h4>Con usuario y contraseña</h4>
            <!-- agrego div para mensajes de error -->
            <div id="loginErrorMessage" class="alert alert-danger" style="display: none;"></div>
            <form action="/api/sessions/login" method="post" class="form-group">
                <div class="mb-3">
                    <label for="email" class="form-label">Usuario</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>    
                <button type="button" class="btn btn-dark" id="btnLogIn">Login</button>
                <!--
                <p class="mt-4">También puedes: </p>
                <a href="/api/sessions/github">
                    <button type="button" class="btn btn-outline-dark github">Entrar con Github</button>
                </a> -->
            </form>
            <p class="mt-5">Si aún no tienes cuenta:</p>
            <a href="/register" class="btn btn-outline-dark">Regístrate</a>

        </div>
    </div>                    
</div>
    
<script src="js/login.js"></script>