<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1 class="m-3 p-3 text-center">Restablecer Contraseña</h1>
            
            <div id="restoreErrorMessage" class="alert alert-danger" style="display: none;"></div>
            <form action="/api/sessions/restore-password" method="post" class="form-group">
                <div class="mb-3">
                    <label for="email" class="form-label">Ingresa tu email:</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="email">
                </div>
                <button type="button" class="btn btn-dark" id="btnRestorePassword">Restablecer Contraseña</button>
            </form>
            <p class="mt-3"><a href="/login">Volver al inicio de sesión</a></p>
        </div>
    </div>                    
</div>

<script src="js/restore.js"></script>